{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin">
    <title>{% block title %}Observatorio{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'myapp/CSS/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="{% static 'myapp/JAV/java.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    {% block extra_css %}{% endblock %}

</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar custom-navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'vista_inicio' %}">
                <img src="{% static 'myapp/image/huaquechulaLogo.png' %}" alt="Logo" style="height: 70px; width: auto;">
            </a>

            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú offcanvas -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="mobileMenu"
                aria-labelledby="mobileMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="mobileMenuLabel">Menú</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a
                                class="nav-link {% if request.resolver_match.url_name == 'vista_inicio' %}active{% endif %}"
                                href="{% url 'vista_inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a
                                class="nav-link {% if request.resolver_match.url_name == 'mapa' %}active{% endif %}"
                                href="{% url 'mapa' %}">Mapa</a></li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link submenu-toggle" href="#">
                                Encuesta <span class="submenu-arrow">▼</span>
                            </a>
                            <ul class="submenu">
                                <li><a class="nav-link submenu-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                <li><a class="nav-link submenu-item" href="{% url 'registro' %}">Encuesta</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a
                                class="nav-link {% if request.resolver_match.url_name == 'repositorio' %}active{% endif %}"
                                href="{% url 'repositorio' %}">Repositorio</a></li>
                    </ul>

                </div>
            </div>

            <!-- Menú horizontal -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-around w-75">
                    <li class="nav-item"><a class="nav-link" href="{% url 'vista_inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mapa' %}">Mapa</a></li>
                    <!-- Encuesta con submenú personalizado para escritorio -->
                    <li class="nav-item has-submenu">
                        <a class="nav-link submenu-toggle" href="#">
                            Encuesta <span class="submenu-arrow">▼</span>
                        </a>
                        <ul class="submenu">
                            <li><a class="nav-link submenu-item" href="{% url 'registro' %}">Encuesta </a></li>
                            <li><a class="nav-link submenu-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'repositorio' %}">Repositorio</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="container flex-grow-1" style="margin-top: 0px;">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="text-center p-4 text-white">
        <div class="container">
            <p class="mb-2 foter_leter">&copy; 2025 Observatorio Turístico de Huaquechula</p>
            <p class="mb-0 foter_leter">Todos los derechos reservados | Gobierno de Resultados 2024-2027</p>
        </div>
    </footer>

    {% block extra_js %} {% endblock %}

    {% block extra_html %}{% endblock %}
</body>

</html>