<form id="editForm" data-documento-id="{{ documento.id }}" data-categoria-id="{{ documento.categoria.id }}"
    data-es-publico="{{ documento.es_publico }}">
    {% csrf_token %}
    <input type="hidden" name="documento_id" value="{{ documento.id }}">

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" class="form-control" name="titulo" value="{{ documento.titulo }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" name="categoria" id="categoriaSelect" required>
            {% for cat in categorias %}
            <option value="{{ cat.id }}">
                {{ cat.nombre }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" name="descripcion" rows="3">{{ documento.descripcion }}</textarea>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="es_publico" id="editEsPublico">
        <label class="form-check-label" for="editEsPublico">Hacer público</label>
    </div>

    <div class="text-center">
        <button type="submit" class="btn boton bt-body">Guardar Cambios</button>
    </div>
</form>